
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%
}
body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: Titillium Web,"sans-serif";
    font-weight: 400;
    height: 100%
}

#header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 500px;
    transition: top 0.5s ease-in-out;
}

.hidden {
    top: -50px;
}

.top {
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4); 
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.top img{
    max-height: 100%;
    max-width: 100%;
    width: inherit;
    margin: 0 0 0 0;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top h1{
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 500%;
    color: white;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 2%;
    text-align: center;

}

nav {
    background-color: #3f51b5;
    color: #fff;
    position: fixed;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    justify-content:space-around;
}

nav h1 {
    left: 0;
    margin: 0;
    font-size: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
}

nav img {
    height: 75%;
    padding: 20px;
}
nav a:hover {
    border-bottom: 2px solid #fff;
}

@media screen and (max-width: 768px) {
    nav a {
        display: none;
    }
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

}

.footer p {
    margin: 0;
    font-size: 100%;
}


h1 {
    margin: 0;
    font-size: 100%;

}

h2 {
    font-size: 36px;
    top: -250px;
    font-weight: 900;
}

h3 {
    font-weight: 700;
}

ul {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 20px;
    text-indent: 10px;
}

li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.activity {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 100px;
    padding-right: 50px;

}


.box1 {
    background-color: #fff;
    scroll-margin-top: 100px;
    position: inherit;
    padding: 100px;
    animation: fadeIn 1s ease-out;
    animation-delay: 1s;
    color: #1c2a7e;
}

.box2 {
    background-color: #3f51b5;
    color: whitesmoke;
    padding: 100px;
    scroll-margin-top: 100px;
    position: inherit;
    animation: fadeIn 1s ease-out;
    animation-delay: 1s; 


}

.box2 h1 {
    text-align: center;
    font-size: 400%;
}

.box2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.container p {
    padding-left: 100px;
    padding-right: 50px;
}

.container ul {
    padding-left: 100px;
    padding-right: 50px;
}



.container {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: transparent;
}

.gap {
    padding: 200px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
}

.button:hover {
    background-color: #666;
}




.team-members{
    width: 100%;
    align-items: center;
    justify-content:center;
    justify-items: center;

}


.team-member {
    width: 30%;
    height: width;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-left: 3%;
    overflow: hidden;
    object-fit: cover;
  }


@media screen and (max-width: 768px) {
    .team-member {
        width: 75%;
        position: relative;
        display: inline-block;
      }
}
  
  .team-member img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .team-member h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding: 0;
  }
  .team-member h3 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 0;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  /* Style the dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-family: Titillium Web,"sans-serif";
    font-size: 75%;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  /* Change the color of the dropdown button on hover */
  .dropdown:hover .dropbtn {
    background-color: #3f51b5;
    color: black;
  }
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3f51b5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* Style links inside the dropdown */
  .dropdown-content a {
    float: none;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
  }
  /* Change the color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #3f51b5;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #content {
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .parallax {
    background-image: "assets/background.jpg";
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
